<header>
    <div class="wrap-header">
        <h1 class="logo">
            <a href="/">
                <span>HANGHAE</span>
                <span>ZOO ZOO</span>
            </a>
        </h1>
        <ul class="header-list">
            <li><span onclick="signUp()">회원가입</span></li>
            <li><span onclick="login()">로그인</span></li>
        </ul>
        <ul class="header-list2">
            <li>
                <i class="fa-solid fa-user"></i>
                <span>{{ nickname }}님 환영합니다!</span>
            </li>
            <li><span onclick="go_posting()">글작성</span></li>
            <li><span onclick="sign_out()">로그아웃</span></li>
        </ul>
        <ul class="header-list3">
            <li>
                <i class="fa-solid fa-user"></i>
                <span>{{ nickname }}님 환영합니다!</span>
            </li>
            <li><span onclick="sign_out()">로그아웃</span></li>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/signUp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/posting.js') }}"></script>
</header>