{% extends "base.html" %}

{% block title %}항해ZOOZOO | 메인{% endblock %}

{% block section %}
    <div class="bg-video">
        <div class="bg-text">
            <p>"귀여운건 같이 봐요"</p>
            <p>반려동물의 순간을 함께</p>
        </div>
        <video id="video" muted autoplay loop>
            <source src="../static/img/Puppy%20-%204740.mp4" type="video/mp4">
        </video>
    </div>

    {% include "nav.html" %}

    {#  성규님 카드 html 넣는곳  #}

    <script src="{{ url_for('static', filename='js/mainpage.js') }}"></script>
{% endblock %}